[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
